<%- include('partials/header') %>

<div class="container mt-5">
  <div class="text-center py-5">
    <i class="fas fa-key fa-6x mb-4"></i>
    <h1 class="display-4">You've Discovered My Secret!</h1>
    <p class="lead secret-text my-4">
      <%= secret %>
    </p>
    <hr class="my-4">
    <a class="btn btn-outline-dark btn-lg me-2" href="/logout">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
